=begin
#Paygham Messaging API

#Public server-side API for sending WhatsApp messages and monitoring delivery.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module Paygham
  class MessagingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check live WhatsApp connection status
    # @param whatsapp_account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectionStatusResponse]
    def get_connection_status(whatsapp_account_id, opts = {})
      data, _status_code, _headers = get_connection_status_with_http_info(whatsapp_account_id, opts)
      data
    end

    # Check live WhatsApp connection status
    # @param whatsapp_account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectionStatusResponse, Integer, Hash)>] ConnectionStatusResponse data, response status code and response headers
    def get_connection_status_with_http_info(whatsapp_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.get_connection_status ...'
      end
      # verify the required parameter 'whatsapp_account_id' is set
      if @api_client.config.client_side_validation && whatsapp_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'whatsapp_account_id' when calling MessagingApi.get_connection_status"
      end
      # resource path
      local_var_path = '/api/v1/messages/accounts/{whatsappAccountId}/connection-status'.sub('{whatsappAccountId}', CGI.escape(whatsapp_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectionStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyHeader']

      new_options = opts.merge(
        :operation => :"MessagingApi.get_connection_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#get_connection_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get outbound delivery counts for an account
    # @param whatsapp_account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeliveryStatusResponse]
    def get_delivery_status(whatsapp_account_id, opts = {})
      data, _status_code, _headers = get_delivery_status_with_http_info(whatsapp_account_id, opts)
      data
    end

    # Get outbound delivery counts for an account
    # @param whatsapp_account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliveryStatusResponse, Integer, Hash)>] DeliveryStatusResponse data, response status code and response headers
    def get_delivery_status_with_http_info(whatsapp_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.get_delivery_status ...'
      end
      # verify the required parameter 'whatsapp_account_id' is set
      if @api_client.config.client_side_validation && whatsapp_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'whatsapp_account_id' when calling MessagingApi.get_delivery_status"
      end
      # resource path
      local_var_path = '/api/v1/messages/accounts/{whatsappAccountId}/delivery-status'.sub('{whatsappAccountId}', CGI.escape(whatsapp_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyHeader']

      new_options = opts.merge(
        :operation => :"MessagingApi.get_delivery_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#get_delivery_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Requeue pending outbound messages after reconnect
    # @param whatsapp_account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ResumeDeliveryResponse]
    def resume_delivery(whatsapp_account_id, opts = {})
      data, _status_code, _headers = resume_delivery_with_http_info(whatsapp_account_id, opts)
      data
    end

    # Requeue pending outbound messages after reconnect
    # @param whatsapp_account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResumeDeliveryResponse, Integer, Hash)>] ResumeDeliveryResponse data, response status code and response headers
    def resume_delivery_with_http_info(whatsapp_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.resume_delivery ...'
      end
      # verify the required parameter 'whatsapp_account_id' is set
      if @api_client.config.client_side_validation && whatsapp_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'whatsapp_account_id' when calling MessagingApi.resume_delivery"
      end
      # resource path
      local_var_path = '/api/v1/messages/accounts/{whatsappAccountId}/resume'.sub('{whatsappAccountId}', CGI.escape(whatsapp_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResumeDeliveryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyHeader']

      new_options = opts.merge(
        :operation => :"MessagingApi.resume_delivery",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#resume_delivery\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Queue the same message for many recipients
    # @param idempotency_key [String] Stable unique key for this batch. Each recipient is deduplicated independently.
    # @param bulk_message_request [BulkMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BulkMessageResponse]
    def send_bulk_messages(idempotency_key, bulk_message_request, opts = {})
      data, _status_code, _headers = send_bulk_messages_with_http_info(idempotency_key, bulk_message_request, opts)
      data
    end

    # Queue the same message for many recipients
    # @param idempotency_key [String] Stable unique key for this batch. Each recipient is deduplicated independently.
    # @param bulk_message_request [BulkMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkMessageResponse, Integer, Hash)>] BulkMessageResponse data, response status code and response headers
    def send_bulk_messages_with_http_info(idempotency_key, bulk_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.send_bulk_messages ...'
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling MessagingApi.send_bulk_messages"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 255
        fail ArgumentError, 'invalid value for "idempotency_key" when calling MessagingApi.send_bulk_messages, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && idempotency_key.to_s.length < 1
        fail ArgumentError, 'invalid value for "idempotency_key" when calling MessagingApi.send_bulk_messages, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bulk_message_request' is set
      if @api_client.config.client_side_validation && bulk_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_message_request' when calling MessagingApi.send_bulk_messages"
      end
      # resource path
      local_var_path = '/api/v1/messages/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_message_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkMessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyHeader']

      new_options = opts.merge(
        :operation => :"MessagingApi.send_bulk_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#send_bulk_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a WhatsApp message using an API key
    # @param idempotency_key [String] Stable unique key for this business message. Reuse it when retrying the same request.
    # @param send_message_request [SendMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SendMessageResponse]
    def send_message(idempotency_key, send_message_request, opts = {})
      data, _status_code, _headers = send_message_with_http_info(idempotency_key, send_message_request, opts)
      data
    end

    # Send a WhatsApp message using an API key
    # @param idempotency_key [String] Stable unique key for this business message. Reuse it when retrying the same request.
    # @param send_message_request [SendMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendMessageResponse, Integer, Hash)>] SendMessageResponse data, response status code and response headers
    def send_message_with_http_info(idempotency_key, send_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.send_message ...'
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling MessagingApi.send_message"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 255
        fail ArgumentError, 'invalid value for "idempotency_key" when calling MessagingApi.send_message, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && idempotency_key.to_s.length < 1
        fail ArgumentError, 'invalid value for "idempotency_key" when calling MessagingApi.send_message, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'send_message_request' is set
      if @api_client.config.client_side_validation && send_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_message_request' when calling MessagingApi.send_message"
      end
      # resource path
      local_var_path = '/api/v1/messages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_message_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendMessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyHeader']

      new_options = opts.merge(
        :operation => :"MessagingApi.send_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#send_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
